.order-item{
    display: flex;
    margin-bottom: 30px;
}

.order-item_photo{
    width: 250px;
    margin-right: 30px;
    border-radius: 20px;
}

.order-item_title{
    font-size: 20px;
    
}

.order-item_price{
    font-size: 20px;
    margin-left: auto;
}
.order-item_delet-icon{
    margin-left: 5px;
    cursor: pointer;
}