
 .order-page_total-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .order-page_total-price p{
    margin-right:25px ;
 }

 @media all and ( max-width: 500px){
   .order-item{
      display: flex;
      flex-direction: column;
   }
    }